* {
    box-sizing: border-box;
}

.snpCard {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    max-height: 654px;
    padding: 1rem;
    display: flex;
    margin: auto;
    justify-content: center;
}

.snapCardCon {
    height: 544px;
    width: 100%;
    max-width: 1074px;
    border-radius: 15px;
    background-image: url("image/snpCard.png");
    background-size: cover;
}

.cardDetail {
    width: 100%;
    max-width: 1074px;
    height: 544px;
    padding: 80px 64px 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDetail h2 {
    height: 52px;
    padding-bottom: 16px;
    color: white;
    margin: 0px;
    font-weight: bolder;
}

.cardDetail span {
    font-size: large;
    padding-bottom: 24px;
}

.profit {
    padding-top: 64px;
    padding-bottom: 48px;
    width: 914px;
    height: 248px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.profitCon {
    height: 136px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
}

#cardPic {
    height: 80px;
    width: 80px;
}

.profitCon h5,.profitCon span {
    color: white;
    padding: 0px !important;
}

.profitCon h5 {
    font-size: 14px;
    height: 20px;
}

.profitCon span {
    font-size: 19px;
    height: 28px;
    font-weight: bolder;
}

.cardDetail .seeAll {
    background-color: #da291c;
    height: 48px;
    width: 335.05px;
}

#cardBut {
    padding: 0px;
}

@media screen and (max-width: 768px) {

    .snpCard {
        height: 654px;
    }

    #cardBut {
        height: 32px;
        width: 100%;
        max-width: 335.5px;
    }

    .profit {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        width: 100%;
        max-width: 687px;
        height: 380px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
    
    .snapCardCon {
        height: 100%;
        max-height: 622px;
    }

    .cardDetail {
        height: 622px;
    }

    .cardDetail h2 {
        height: 44px;
    }

    .cardDetail span {
        height: 46px;
    }
}